---

- name: Install and configure required packages
  become: "{{ debian_become }}"
  become_user: "{{ debian_become_admin_user }}"
  block:
    - name: Ensure Debian devel stuff is present
      ansible.builtin.apt:
        name:
          - cowbuilder
          - debootstrap
          - devscripts
          - dh-python
          - eatmydata
          - git-buildpackage
          - pbuilder
        update_cache: true
        cache_valid_time: 3600

    - name: Configure pbuilder
      ansible.builtin.blockinfile:
        path: /etc/pbuilderrc
        prepend_newline: true
        block: |
          # append eatmydata to $EXTRAPACKAGES:
          EXTRAPACKAGES="$EXTRAPACKAGES eatmydata"
          EATMYDATA=yes

- name: Configure user level stuff
  become: "{{ debian_become }}"
  become_user: "{{ debian_become_user }}"
  block:
    - name: Copy git-buildpackage config file
      ansible.builtin.copy:
        src: config/git-buildpackage/gbp.conf
        dest: ~/.gbp.conf
        mode: "0644"
