[Unit]
Description=Calendars and contacts synchronization service

[Service]
Type=oneshot
ExecStart=/bin/vdirsyncer sync

[Install]
WantedBy=default.target
