---
- name: Install stuff using cargo.
  become: "{{ cargo_install_become }}"
  become_user: "{{ cargo_install_become_user }}"
  block:
    - name: Install stuff with cargo
      ansible.builtin.command:
        cmd: "{{ cargo_install_cargo_binary }} install {{ item }}"
      loop:
        - bandwhich
        - cargo-audit
        - cargo-tarpaulin
        - cargo-watch
        - git-absorb
        - git-delta
        - just
        - kondo
        - monolith
        - ripdrag
        - stylua
        - texlab
        - tokei
        - tree-sitter-cli
        - urdf-viz

    - name: Install stuff with cargo install --locked.
      ansible.builtin.command:
        cmd: "{{ cargo_install_cargo_binary }} install --locked {{ item }}"
      loop:
        - dprint
        - evcxr_repl
        - rbw
        - starship
        - typst-cli

    - name: Install stuff with cargo install --git.
      ansible.builtin.command:
        cmd: "{{ cargo_install_cargo_binary }} install --git {{ item }}"
      loop:
        - https://github.com/FrameworkComputer/framework-system framework_tool
        - https://github.com/Thumuss/utpm
        - https://github.com/astral-sh/uv uv
        - https://github.com/crabdancing/phomemo-d30 d30-cli
