---

- name: Install neovim.
  ansible.builtin.apt:
    name:
      - neovim
      - python3-pynvim
      - git
    update_cache: true
    cache_valid_time: 3600
  tags: apt

  become: "{{ neovim_become }}"
  become_user: "{{ neovim_become_admin_user }}"

- name: Configure neovim.
  become: "{{ neovim_become }}"
  become_user: "{{ neovim_become_user }}"
  block:
    - name: Ensure ~/.config/nvim and subfolders exist
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: 0750
      with_items:
        - ~/.config/nvim
        - ~/.config/nvim/lua
        - ~/.config/nvim/lua/plugins
        - ~/.config/nvim/lua/colors
        - ~/.config/nvim/after/ftplugin

    - name: Install init.lua
      ansible.builtin.copy:
        src: config/nvim/init.lua
        dest: ~/.config/nvim/init.lua
        owner: "{{ neovim_become_user }}"
        group: "{{ neovim_become_user }}"
        mode: 0640

    - name: Install plugins config
      ansible.builtin.copy:
        src: "config/nvim/lua/plugins/{{ item }}"
        dest: "~/.config/nvim/lua/plugins/{{ item }}"
        owner: "{{ neovim_become_user }}"
        group: "{{ neovim_become_user }}"
        mode: 0640
      with_items:
        - blink.lua
        - comment.lua
        - conform.lua
        - fugitive.lua
        - gitsigns.lua
        - indent-blankline.lua
        - kanagawa.lua
        - lint.lua
        - lspconfig.lua
        - lualine.lua
        - luasnip.lua
        - nvim-autopairs.lua
        - nvim-surround.lua
        - nvim-tree.lua
        - nvim-treesitter.lua
        - openscad.lua
        - sayonara.lua
        - startify.lua
        - telescope.lua
        - todo-comments.lua
        - trouble.lua
        - vimtex.lua

    - name: Install general settings
      ansible.builtin.copy:
        src: "config/nvim/lua/{{ item }}"
        dest: "~/.config/nvim/lua/{{ item }}"
        owner: "{{ neovim_become_user }}"
        group: "{{ neovim_become_user }}"
        mode: 0640
      with_items:
        - keymaps.lua
        - lazy-bootstrap.lua
        - settings.lua

    - name: Install after/ftplugin settings
      ansible.builtin.copy:
        src: "config/nvim/after/ftplugin/{{ item }}"
        dest: "~/.config/nvim/after/ftplugin/{{ item }}"
        owner: "{{ neovim_become_user }}"
        group: "{{ neovim_become_user }}"
        mode: 0640
      with_items:
        - kivy.lua
        - rst.lua
